 input.search{
    font-size: 1.1rem;
    padding-left: 5px; 
    font-family: 'Calibri', 'Gill Sans MT', Gill Sans, 'Trebuchet MS', sans-serif;
    font-weight:lighter;
    caret-color: white;

    
}

::ng-deep mat-form-field{
    border-radius: 25px  !important;
    overflow: hidden;
    width: 25rem;
    border: 1px solid white;
    height: 5rem;
    
  }

  .mat-icon-button {
    background-color: #2196F3 !important;
    color: white;
  }