<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span routerLink="/features">U-tube</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon"
                routerLink="/upload-video"
                aria-label="Example icon-button with heart icon">
          <mat-icon>video_call</mat-icon>
        </button>
        <div *ngIf="isAuthenticate; else noAuth"
                [matMenuTriggerFor]="menu"
                mat-icon-button class="example-icon"
                aria-label="Example icon-button with share icon">
         
                  <div class="image-container"></div> 
                
                      <div class="icon-wrapper">
                        <div class="image"><img [src]="photo" ></div>
                       
                      </div>
        

        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logOff()">Logout</button>
         
        </mat-menu>
        <ng-template #noAuth>
          <button mat-raised-button (click)="login()">Login</button>
        </ng-template>
      </mat-toolbar-row>

</mat-toolbar>