<mat-sidenav mode="side" opened class="matline">
    <mat-nav-list  role="list">
      <mat-list-item role="listitem" routerLink="/featured">
        <mat-icon mat-list-icon>home</mat-icon>
        <span matLine routerLink="/features" class="face">Home</span>
      </mat-list-item>
  
      <mat-list-item role="listitem" routerLink="/subscriptions">
        <mat-icon mat-list-icon >subscriptions</mat-icon>
        <span class="face">Subscriptions</span>
      </mat-list-item>
  
      <mat-list-item role="listitem" routerLink="/history">
        <mat-icon mat-list-icon >history</mat-icon>
        <span class="face">History</span>
      </mat-list-item>
  
    <mat-list-item role="listitem" routerLink="/liked-videos">
      <mat-icon mat-list-icon>thumb_up</mat-icon>
      <span class="face">Liked Videos</span>
    </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>


